@font-face {
    font-family: 'lato';
    src: url("assets/fonts/Lato-Thin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'lato';
    src: url("assets/fonts/Lato-Regular.ttf");
    font-weight: 300;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0px;
  }
  body {
    background-color: #7abfc9;
    font-family: 'lato';
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
  }
  * {
    box-sizing: border-box;
  }
  .header {
    border: 1px solid #7abfc9;
  }
  .main {
    border: 1px solid #7abfc9;
    margin-bottom: auto;
  }
  .footer {
    border: 1px solid #7abfc9;
    margin: 0px 20px;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  html {
    scroll-behavior: smooth; 
  }
  .nav-item a {
    color: #157988;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #063a42;
  }
  .section:hover {
    box-shadow: 0 1px 40px rgb(0 0 0 / 70%);
    border: 2px solid #063a42;
  }
  .my-photo:hover {
    box-shadow: 0 1px 40px rgb(0 0 0 / 70%);
    border: 2px solid #063a42;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .section {
    width: 50%;
    background-color: #77b6c0;
    border: solid #7abfc9;
    border-radius: 30px 30px;
    padding: 0px 20px;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  .section-title {
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #157988;
  }
  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border: solid #7abfc9;
    background-color: #77b6c0;
    text-align: justify;
    flex-wrap: wrap;
  }
  .nav-link {
    position: relative;
    padding: 0 10px;
    line-height: 25px;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    cursor: pointer;
  }
  .nav-link::after {
    display: block;
    content: "";
    background-color: #063a42;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
  }
  .nav-link::before {
    display: block;
    content: "";
    background-color: #063a42;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
  }
.nav-link:hover::after,
.nav-link:focus::after,
.nav-link:hover::before,
.nav-link:focus::before {
    width: 100%;
}
.linked-in {
    color: #157988;
    text-decoration: none;
    position: relative;
    padding: 20px;
}
.contacts-list {
    list-style: none;
    padding: 0px;
}
.links {
    color: #157988;
    text-decoration: none;  
    transition: color 0.5s;
}
.links:hover {
    color: #063a42;
  }
.linked-in:hover {
    color: #063a42;
}
.main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #157988;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}
.subtitle {
    margin-top: 20px;
    color: #157988;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
}
.work {
    width: 100%;
    padding: 0px 0px;
    border-top: 5px solid #7abfc9;
    background-color: #77b6c0;
}
.skills {
	overflow: hidden;
}
.skills-left {
	float: left;
  padding: 0px 0px 20px 20px;
  margin: 0px 0px 0px 0px;
}
.skills-right {
    float: right;
    width: 50%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 20px;
    
}
.skill-group {
  list-style-type: none;
}
.my-photo {
  border-radius: 50%;
  box-shadow: 0 1px 40px rgb(0 0 0 / 60%);
}
#work-history {
  width: 100%;
}
.icons {
  width: 16px;
}
.icon-university {
  height: 12px;
}